<div class="container">
  <div class="clue">
    {{#link-to 'clue'}}
      <img class="game-logo__clue" src="http://www.hasbro.com/common/productimages/en_US/10997c675056900b106c54f26b4fa30f/109A86F35056900B1015253E65009D86.jpg" alt="">
    {{/link-to}}
    <h3 class="game-name">Clue</h3>
  </div>
</div>

{{outlet}}
