<div class="container">
  <div class="game-contents">
    <img class="game-logo" src="http://www.hasbro.com/common/productimages/en_US/10997c675056900b106c54f26b4fa30f/109A86F35056900B1015253E65009D86.jpg" alt="">
    <div class="game-controls">
      <button class="button-checkout" type="button">Checkout</button>
      <i class="fa fa-circle" aria-hidden="true"></i>
    </div>
  </div>
  <div class="game-page__text">
    <h1 class="game-page__title">Clue</h1>
    <p class="player-amount">2-4 Players</p>
    <h3 class="game-rules__title">Game Rules</h3>
    <p class="game-rules">
      Players are instructed to assume the token/suspect nearest them. In older versions, play begins with Miss Scarlett and proceeds clockwise. In modern versions, all players roll the dice and the highest total starts the game and then proceeds clockwise. Players roll the dice (some versions contain one and others two) and move along the board's corridor spaces, or into the rooms accordingly.
    </p>
    <p class="game-rules">
      The player to the left of the suggesting player must then disprove the suggestion, if they can, by showing the suggesting player one (and only one) of the cards containing one of the suggestion components (either the suspect, the weapon, or the room), as this proves that the card cannot be in the envelope. This is done in secret so that the other players cannot see which card is being used to disprove the suggestion. If a player has more than one such card, they may select which one to show. If the first player to the left of the suggesting player does not have any of the three cards needed to disprove the suggestion, the next player clockwise must disprove the suggestion, if possible, and so on clockwise until either the suggesting player is shown a card that disproves their suggestion, or each player advises that they cannot disprove the suggestion. The suggesting player's turn then ends. The suggesting player does not advise the other players whether they hold any of the three cards.
    </p>
    <p class="game-rules">
      Once a player has sufficiently narrowed the solution, that player can make an accusation. According to the rules, "When you think you have worked out which three cards are in the envelope, you may, on your turn, make an Accusation and name any three elements you want." Players may name any room (unlike a Suggestion, where a player's character pawn must be in the room that the player suggests).
    </p>
  </div>
</div>
