@import 'variables';

body {
  margin: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  max-width: 100%;
  margin: auto;
}

.row-2 {
  display: flex;
  max-width: 100%;
  align-items: stretch;
  margin-top: 3rem;
}

.column-2 {
  display: flex;
  flex-basis: calc(100% / 3);
  // min-width: 15rem;
  flex-grow: 1;
}

.game {
  width: 100%;
}
