<<<<<<< HEAD
@import 'variables';
//
// body {
//   margin: 0;
//   font-family: sans-serif;
// }
//
// * {
//   box-sizing: border-box;
// }

.container {
  display: flex;
  width: 100%;
  margin: auto;
}

.row-2 {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0;
}

.column-2 {
  display: flex;
  flex-basis: calc(100% / 3);
  // min-width: 15rem;
  flex-grow: 1;
  padding: $gutter;
}

.column:first-of-type {
  flex-grow: 2;
}

.game {
}

.game-photo {
  width: 100%;
  border: 1px grey solid;
}

.game-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 2px grey solid;
=======
@import 'top-nav';
@import 'game-items';
@import 'game-page';

$font-family: "SSJunior";

* {
  font-weight: normal;
  font-style: normal;

}

body {
  margin: 0;
  font-family: 'SourceSansPro';
  font-weight: 400;
  font-style: normal;

  background: #e1eef3;
>>>>>>> 38e419a2b1b3b07e58492b8c2d149b410d376870
}
