@import 'top-nav';
@import 'game-items';
@import 'game-page';

$font-family: "SSJunior";

* {
  font-weight: normal;
  font-style: normal;

}

body {
  margin: 0;
  font-family: 'SourceSansPro';
  font-weight: 400;
  font-style: normal;

  background: #e1eef3;
}
