body {
  background: #e1eef3;
}
.container {
  margin: 0 auto;
}

.row {
  display: flex;
  margin: 1rem;
}

.grid-item {
  width: 30%;
  justify-content: space-between;
  padding: 1rem;
}

.game-logo__sorry {
  width: 100%;
}

.game-info__sorry {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.game-info__left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.fa {
  margin-left: 0.5rem;
}

.game-logo__monopoly {
  width: 100%;
}

.game-info__monopoly {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.game-logo__life {
  width: 100%;
}

.game-info__life {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
