.container {
  display: flex;
  margin: 0 auto;
}

.game-contents {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 30%;
  margin: 1rem;
}

.game-controls {
  display: flex;
  align-items: center;
  width: 10rem;
}

.game-logo {
  padding-bottom: 2rem;
  width: 100%;
}

.game-page__text {
  width: 100%;
  margin: 1rem;
}

.button-checkout {
  width: 100%;
  border: 1px solid transparent;
  font-size: 16px;
  line-height: 1.6;
  border-radius: 4px;
  padding: 7px 15px 7px 15px;
  text-transform: uppercase;

  -webkit-box-shadow: 0 5px #9175bd;
  box-shadow: 0 5px #9175bd;
  top: 7px;
  font-size: 16px;
  background: #a88cd5;
  border-color: #a88cd5;
  color: #e1eef3;

  white-space: normal;
  -webkit-font-smoothing: subpixel-antialiased;

  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;

  outline: 0;

  &:hover,
  &:focus {
    top: 2px;
    position: relative;
    -webkit-box-shadow: 0 3px #9175bd;
    box-shadow: 0 3px #9175bd;
    background: #a88cd5;
  }

  &:active {
    -webkit-box-shadow: 0 0 #9175bd;
    box-shadow: 0 0 #9175bd;
    top: 5px;
    background: #a88cd5;
    border-color: #a88cd5;
  }
}
