<div class="monopoly">
  <img src="http://d2ydh70d4b5xgv.cloudfront.net/images/2/3/classic-monopoly-board-game-complete-new-sealed-family-edition-cardboard-510f1f41a9d16a660f7d050a316162ee.jpg" alt="" class="game-logo__monopoly">
  <h3 class="game-name">Monopoly</h3>
</div>
