<div class="container">
  <div class="game-contents">
    <img class="game-logo" src="http://d2ydh70d4b5xgv.cloudfront.net/images/2/3/classic-monopoly-board-game-complete-new-sealed-family-edition-cardboard-510f1f41a9d16a660f7d050a316162ee.jpg" alt="">
    <div class="game-controls">
      <button class="button-checkout" type="button">Checkout</button>
      <i class="fa fa-circle" aria-hidden="true"></i>
    </div>
  </div>

  <div class="game-page__text">
    <h1 class="game-page__title">Monopoly</h1>
    <p class="player-amount">2-6 Players</p>
    <h3 class="game-rules__title">Game Rules</h3>
    <p class="game-rules">
      Players take turns in order, with the initial player determined by chance before the game. A typical turn begins with the rolling of the dice and advancing their piece clockwise around the board the corresponding number of squares. If a player rolls doubles, they roll again after completing their turn. If a player rolls three consecutive sets of doubles on one turn, the player has been "caught speeding", and the player is immediately sent to jail instead of moving the amount shown on the dice for the third roll, ending the player's turn.
    </p>
    <p class="game-rules">
      A player who lands on or passes the Go space collects $200 from the bank. However, when the optional Speed Die is used, a player who rolls a triple and chooses to move to "Go to Jail" does not collect if the move would normally take them past Go.
    </p>
    <p class="game-rules">
      Players who land on either Income Tax or Luxury Tax pay the indicated amount to the bank. In older editions of the game, two options were given for Income Tax: either pay a flat fee of $200 or 10% of the player's total worth (including the current values of all the properties and buildings owned). Players must choose which option before calculating their total worth, and cannot change their mind if it turns out that the $200 was actually less; in 2008, the 10% option was removed. Luxury Tax was originally $75; in 2008, it was increased to $100. No reward or penalty is given for landing on Free Parking.
    </p>
  </div>
</div>
