<div class="container">
  <div class="row">
    <div class="sorry">
      {{#link-to 'sorry'}}
          <img class="game-logo__sorry" src="http://www.hasbro.com/common/productimages/en_US/590e193450569047f59f9f4e9b948900/591716B450569047F5DB1141B8BC7D9F.jpg" alt="">
        {{/link-to}}
        <div class="game-info__sorry">
          <h3 class="game-name">Sorry</h3>
          <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
      </div>
      <div class="monopoly">
        {{#link-to 'monopoly'}}
          <img src="http://d2ydh70d4b5xgv.cloudfront.net/images/2/3/classic-monopoly-board-game-complete-new-sealed-family-edition-cardboard-510f1f41a9d16a660f7d050a316162ee.jpg" alt="" class="game-logo__monopoly">
        {{/link-to}}
        <div class="game-info__monopoly">
          <h3 class="game-name">Monopoly</h3>
          <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
      </div>
      <div class="life">
        {{#link-to 'life'}}
          <img src="http://www.uplay.it/www.uplay.it_The_Game_of_Life--400x400.png" alt="" class="game-logo__life">
        {{/link-to}}
        <div class="game-info__life">
          <h3 class="game-name">Life</h3>
          <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
      </div>
    </div>
</div>
