<div class="container">
  <div class="row-2">
    <div class="column-2">
      <div class="game">
        {{#link-to 'cards-against-humanity'}}
          <img class="game-photo" src="http://www.teamboardgame.com/wp-content/uploads/2016/02/Cards-against-Humanity-Box.jpg">
        {{/link-to}}
        <h2>Cards Against Humanity</h2>
        <div class="game_options">
        </div>
      </div>
    </div>


      <div class="column-2">
        <div class="game">
          {{#link-to 'clue'}}
            <img class="game-photo" src="http://www.hasbro.com/common/productimages/en_US/10997c675056900b106c54f26b4fa30f/109A86F35056900B1015253E65009D86.jpg">
          {{/link-to}}
          <h2>Clue</h2>
          <div class="game_options">
          </div>
        </div>
      </div>

      {{!-- <div class="column-2"> --}}

      <div class="column-2">
        <div class="game">
          {{#link-to 'scrabble'}}
            <img class="game-photo" src="http://www.hasbro.com/common/images/products/4203624477a4_main400.jpg">
          {{/link-to}}
          <h2>Scrabble</h2>
          <div class="game_options">
          </div>
        </div>
      </div>
    </div>
  </div>






{{outlet}}
