<div class="container">
  <div class="row">
    <div class="grid-item">
      {{#link-to 'sorry'}}
          <img class="game-logo" src="http://www.hasbro.com/common/productimages/en_CA/590e193450569047f59f9f4e9b948900/7104EB9A50569047F5BAB04293797731.jpg" alt="">
        {{/link-to}}
        <div class="game-info">
          <div class="game-info__left">
            <h2 class="game-name">Sorry</h2>
            <i class="fa fa-circle" aria-hidden="true"></i>
            </div>
          <p class="player-amount">2-4 Players</p>
        </div>
      </div>

      <div class="grid-item">
        {{#link-to 'monopoly'}}
          <img src="http://d2ydh70d4b5xgv.cloudfront.net/images/2/3/classic-monopoly-board-game-complete-new-sealed-family-edition-cardboard-510f1f41a9d16a660f7d050a316162ee.jpg" alt="" class="game-logo">
        {{/link-to}}
        <div class="game-info">
        <div class="game-info__left">
          <h2 class="game-name">Monopoly</h2>
          <i class="fa fa-circle" aria-hidden="true"></i>
          </div>
        <p class="player-amount">2-6 Players</p>
        </div>
      </div>

      <div class="grid-item">
        {{#link-to 'life'}}
          <img src="http://www.uplay.it/www.uplay.it_The_Game_of_Life--400x400.png" alt="" class="game-logo">
        {{/link-to}}
        <div class="game-info">
        <div class="game-info__left">
          <h2 class="game-name">Life</h2>
          <i class="fa fa-circle" aria-hidden="true"></i>
          </div>
        <p class="player-amount">2-4 Players</p>
      </div>
      </div>

      <div class="grid-item">
        {{#link-to 'clue'}}
        <img class="game-logo" src="http://www.hasbro.com/common/productimages/en_US/10997c675056900b106c54f26b4fa30f/109A86F35056900B1015253E65009D86.jpg" alt="">
        {{/link-to}}
        <div class="game-info">
          <div class="game-info__left">
            <h3 class="game-name">Clue</h3>
            <i class="fa fa-circle" aria-hidden="true"></i>
          </div>
          <p class="player-amount">2-4 Players</p>
        </div>
      </div>

      <div class="grid-item">
        {{#link-to 'scrabble'}}
        <img class="game-logo" src="http://www.hasbro.com/common/images/products/4203624477a4_main400.jpg" alt="">
        {{/link-to}}
        <div class="game-info">
          <div class="game-info__left">
            <h3 class="game-name">Scrabble</h3>
            <i class="fa fa-circle" aria-hidden="true"></i>
          </div>
          <p class="player-amount">2-4 Players</p>
        </div>
      </div>

      <div class="grid-item">
        {{#link-to 'cah'}}
        <img class="game-logo" src="http://www.teamboardgame.com/wp-content/uploads/2016/02/Cards-against-Humanity-Box.jpg" alt="">
        {{/link-to}}
        <div class="game-info">
          <div class="game-info__left">
            <h3 class="game-name">Cards Against Humanity</h3>
            <i class="fa fa-circle" aria-hidden="true"></i>
          </div>
          <p class="player-amount">2-6 Players</p>
        </div>
      </div>

    </div>
</div>
