<div class="container">
  <div class="row">
    <div class="top-nav">
      <h2 class="site-name">Game Labs</h2>
      <i class="fa fa-plus" aria-hidden="true"></i>
    </div>
  </div>
</div>
<div class="nav-form">
  <div class="container">
    <div class="row">
      <form action="submit" class="nav-form">
        <h3 class="nav-form__label">Username</h3>
        <input class="nav-form__input" type="text" placeholder="userName" value="">
        <h3 class="nav-form__label">Email</h3>
        <button class="nav-form__button">Save</button>
      </form>
    </div>
  </div>
</div>

{{!-- <script src="/vendor.js" charset="utf-8"></script>
<script src="/app.js" charset="utf-8"></script>

<script type="text/javascript">
  const index = require(`index`);
  index();
  // const toggleNav = require(`toggle-nav`);
  // toggleNav();
</script> --}}

{{outlet}}
