<div class="container">
  <div class="game-contents">
    <img class="game-logo" src="http://www.teamboardgame.com/wp-content/uploads/2016/02/Cards-against-Humanity-Box.jpg" alt="">
    <div class="game-controls">
      <button class="button-checkout" type="button">Checkout</button>
      <i class="fa fa-circle" aria-hidden="true"></i>
    </div>
  </div>
  <div class="game-page__text">
    <h1 class="game-page__title">Cards Against Humanity</h1>
    <p class="player-amount">2-6 Players</p>
    <h3 class="game-rules__title">Game Rules</h3>
    <p class="game-rules">
      Cards Against Humanity is a party game for horrible people. Unlike most of the party games you've played before, Cards Against Humanity is as despicable and awkward as you and your friends.
    </p>
    <p class="game-rules">
      The game is simple. Each round, one player asks a question from a black card, and everyone else answers with their funniest white card.
    </p>
  </div>
</div>
