<div class="container">
 <div class="cards-against-humanity">
   {{#link-to 'cards-against-humanity'}}
   <img class="game-cards-against-humanity" src="http://www.teamboardgame.com/wp-content/uploads/2016/02/Cards-against-Humanity-Box.jpg" alt="">
   {{/link-to}}
   <h3 class="game-name">Cards Against Humanity</h3>
 </div>
</div>
