<div class="container">
  <div class="game-contents">
    <img class="game-logo" src="http://www.uplay.it/www.uplay.it_The_Game_of_Life--400x400.png" alt="">
    <div class="game-controls">
      <button class="button-checkout" type="button">Checkout</button>
      <i class="fa fa-circle" aria-hidden="true"></i>
    </div>
  </div>
  <div class="game-page__text">
    <h1 class="game-page__title">Life</h1>
    <p class="player-amount">2-4 Players</p>
    <h3 class="game-rules__title">Game Rules</h3>
    <p class="game-rules">
      The modern game consists of a track on which players travel by spinning a small wheel (in the center of the board) with spaces numbered 1 through 10. The board also contains small mountains, buildings, and other three-dimensional objects. Playing pieces are small, colored, plastic automobiles which come in red, blue, white, yellow, orange, and green; each car has six holes in the top in which blue and/or pink "people pegs" are placed throughout the game as the player "gets married" and has or adopts "children". Some "early modern" editions have eight cars.
      </p>
      <p class="game-rules">
      Each game also includes a setup for a bank, which includes play money (in denominations of $5,000, $10,000, $20,000, $50,000, and $100,000. The $500 bills were dropped in the 1980s, as were the $1,000 bills in 1992.), insurance policies (automobile, life, fire, and/or homeowners' insurance depending on the version), $20,000 promissory notes and stock certificates. Other tangibles vary with the game version.
    </p>
  </div>
</div>
