<div class="container">
 <div class="life">
   {{#link-to 'life'}}
   <img class="game-life" src="http://www.uplay.it/www.uplay.it_The_Game_of_Life--400x400.png" alt="">
   {{/link-to}}
   <h3 class="game-name">Life</h3>
 </div>
</div>
