
<div class="checkout__free">
  <i class="fa fa-circle checkout__free" aria-hidden="true"></i>
</div>

<div class="checkout__taken">
  <i class="fa fa-circle checkout__taken" aria-hidden="true"></i>
</div>
