{{outlet}}
<form class="login-form" {{action login model on="submit"}}>
  <p class="form-field">{{input type="text" placeholder="Email" value=model.email}}</p>
  <p class="form-field">{{input type="password" placeholder="Password" value=model.password}}</p>
  <button>Login</button>
</form>
