<div class="sorry">
  <img class="game-logo__sorry" src="http://www.hasbro.com/common/productimages/en_US/590e193450569047f59f9f4e9b948900/591716B450569047F5DB1141B8BC7D9F.jpg" alt="">
  <h3 class="game-name">Sorry</h3>
</div>
