<div class="container">
<div class="game-contents">
  <img class="game-logo" src="http://www.hasbro.com/common/productimages/en_CA/590e193450569047f59f9f4e9b948900/7104EB9A50569047F5BAB04293797731.jpg" alt="">
  <div class="game-controls">
    <button class="button-checkout" type="button">Checkout</button>
    <i class="fa fa-circle" aria-hidden="true"></i>
  </div>
</div>
  <div class="game-page__text">
    <h1 class="game-page__title">Sorry</h1>
    <p class="player-amount">2-4 Players</p>
    <h3 class="game-rules__title">Game Rules</h3>
    <p class="game-rules">Each player chooses four pawns of one color and one player is selected to play first.
    Each player in turn draws one card from the stack and follows its instructions.</p>
    <p class="game-rules">To begin the game, all of a player's four pawns are restricted to Start; only a 1 or 2 card can release them to the rest of the board. Playing a 1 or a 2 places a pawn on the space directly outside of start; playing a 2 does not entitle the pawn to a second space.
    The Relaxation Start: When a young player is playing especially when learning the game of Sorry! a relaxation is offered in allowing one of their pawns to be placed on their Track-Start-Space this means they don't get bored before they even start, in that they feel a part of things rather than the tedium of waiting for a 1 or a 2, which can be a bit wearisome even for experienced players.
    A player can jump over any other pawn, landing on the square indicated by the card. However, two pawns cannot occupy the same square. A pawn that lands on a square occupied by another "bumps" that pawn back to its own Start. Players can not bump their own pawns back to Start. If the only way to complete a move would result in a player bumping himself, the pawns remain in place and the player loses his or her turn.
    If a pawn lands at the start of a slide (except those of its own colour) by direct movement or as the result of a switch with the 11 card or a Sorry card, it immediately moves to the last square of the slide. All pawns anywhere on the slide are sent back to their respective Starts.[4]
    The last five squares before home are the "safety zone." Access is limited to those pawns of the same color. Pawns inside the zone are immune to being replaced by an opponent's pawn with an 11 or a Sorry! card. However, a pawn is vulnerable to being forcibly moved backward out of the safety zone. Forced backward moves can cause a pawn to exit the zone. Also, you cannot move your pawn backwards and forwards and count it as a space, no matter what card you have, it is not allowed to move backwards and forwards.
  </p>
  </div>
  </div>
