<div class="container">
 <div class="scrabble">
   {{#link-to 'scrabble'}}
   <img class="game-logo__scrabble" src="http://www.hasbro.com/common/images/products/4203624477a4_main400.jpg" alt="">
   {{/link-to}}
   <h3 class="game-name">Scrabble</h3>
 </div>
</div>
