<div class="container">
  <div class="game-contents">
    <img class="game-logo" src="http://www.hasbro.com/common/images/products/4203624477a4_main400.jpg" alt="">
    <div class="game-controls">
      <button class="button-checkout" type="button">Checkout</button>
      <i class="fa fa-circle" aria-hidden="true"></i>
    </div>
  </div>
  <div class="game-page__text">
    <h1 class="game-page__title">Scrabble</h1>
    <p class="player-amount">2-4 Players</p>
    <h3 class="game-rules__title">Game Rules</h3>
    <p class="game-rules">
      At the beginning of the game, and after each turn until the bag is empty (or until there are no more face-down tiles), players draw tiles to fill their "racks", or tile holders, with seven tiles, from which they will make plays. Each rack is concealed from the other players.
    </p>
    <p class="game-rules">
      During a turn, a player will have seven tiles on his or her rack (with the exception of the endgame). On each turn, the player has three options:

Pass, forfeiting the turn and scoring nothing
Exchange one or more tiles for an equal number from the bag, scoring nothing, an option available only if at least seven tiles remain in the bag
Play at least one tile on the board, adding the value of all words formed to the player's cumulative score
    </p>
    <p class="game-rules">
      When the game ends, each player's score is reduced by the sum of his or her unplayed letters. In addition, if a player has used all of his or her letters (known as "going out"), the sum of the other player's unplayed letters is added to that player's score; in tournament play, a player who goes out adds twice that sum, and his or her opponent is not penalized.
    </p>
  </div>
</div>
