
<div class="top-nav">
  <h2 class="site-name">{{#link-to 'index' class="site-name__link"}}Game Labs{{/link-to}}</h2>
  <div class="top-nav__right">
   <button class="login-button">New Game</button>
  </div>
</div>

{{outlet}}
