<div class="top-nav">
  <h2 class="site-name">Game Labs</h2>



  <div class="top-nav__right">
   <i class="fa fa-plus" aria-hidden="true"></i>
   <button class="login-button">Login</button>
  </div>
</div>

{{outlet}}
